@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  max-width: 100vw; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #000; }

form {
  margin: 0;
  padding: 0;
  text-align: center; }

section button, section input {
  padding: .7rem .8rem;
  width: 100%; }

section button:hover {
  color: #111;
  font-size: 1rem;
  padding: .65rem; }

input[type=email], input[type=password], input[type=search] {
  padding: .5180469716em;
  outline: 0;
  color: #222;
  width: 100%;
  font-weight: 400; }

[type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0; }

form input::placeholder {
  color: #999; }

.none, label {
  display: none;
  padding: 0; }

#header {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1); }

.header-button {
  font-size: .85rem;
  display: flex;
  height: 100%;
  border: 0;
  background-color: #fff;
  flex: 1 1; }

.primary-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1.1rem 1.5rem;
  justify-content: space-between; }
  .primary-header .header-menu .bar-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    padding-right: .2rem; }
  .primary-header .header-menu .bar-text {
    margin-left: .5rem;
    font-size: .75rem;
    text-transform: uppercase; }
  .primary-header .header-cart {
    flex: 1 1;
    justify-content: end; }
  .primary-header .header-titulo {
    font-size: 1.25rem;
    flex: 2 2;
    text-align: center; }
  .primary-header .header-search {
    flex: 1; }
  .primary-header .header-list {
    padding-left: 1.2rem; }
    .primary-header .header-list li {
      display: inline-block; }
    .primary-header .header-list a {
      display: inline-block;
      padding: .7em .875em 0;
      font-size: 17px;
      position: relative; }
      .primary-header .header-list a div {
        position: absolute;
        top: 0;
        left: 50%;
        top: 5px;
        transform: translate(-50%); }

.header-search, .header-list, .second-header {
  display: none; }

.dark-window {
  visibility: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000a;
  z-index: 800;
  opacity: 0;
  transition: all .3s; }

.dark-window-cancel {
  visibility: hidden;
  position: fixed;
  z-index: 900;
  top: 40px;
  left: 290px;
  opacity: 0;
  transition: all .3s; }

.mobile-toggle .dark-window {
  visibility: visible;
  opacity: 1;
  transition: all .3s; }

.mobile-toggle .dark-window-cancel {
  visibility: visible;
  width: 30px;
  height: 30px;
  top: 20px;
  opacity: 1;
  transition: all .3s;
  cursor: pointer; }
  .mobile-toggle .dark-window-cancel::before {
    transform: rotate(45deg); }
  .mobile-toggle .dark-window-cancel::after {
    transform: rotate(-45deg); }
  .mobile-toggle .dark-window-cancel::after, .mobile-toggle .dark-window-cancel::before {
    display: block;
    position: absolute;
    width: 2px;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
    background-color: #fff;
    content: ""; }

.mobile-toggle .toggle-header {
  left: 0; }

.toggle-header {
  position: fixed;
  z-index: 1000;
  padding: 0 15px;
  top: 0;
  bottom: 0;
  height: 100%;
  left: -260px;
  width: 260px;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: all .35s;
  transition-delay: .1s; }
  .toggle-header-search {
    padding-top: 1rem; }
  .toggle-header-list {
    padding-top: 1rem; }
    .toggle-header-list ul li {
      padding: .5rem 0; }
      .toggle-header-list ul li a span {
        letter-spacing: 2px;
        font-weight: 700;
        text-transform: uppercase; }

.search-form {
  position: relative; }
  .search-form::before {
    display: inline-block;
    position: absolute;
    top: 0.8em;
    left: 0.8em;
    width: 20px;
    height: 20px;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z' stroke='%234A5568' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-color: #ccc;
    content: "";
    -webkit-mask-size: contain; }
  .search-form input {
    padding: 0;
    line-height: 45px;
    padding-left: 45px;
    border-radius: 4px;
    background: #f8f8f8;
    font-size: 16px;
    border: 0; }

@media only screen and (min-width: 992px) {
  .toggle-header, .header-menu {
    display: none; }
  .second-header, .header-search, .header-list {
    display: inline-block; }
  .header-titulo {
    flex: 1; }
  .header-search {
    flex: 5; }
  .header-list {
    flex: 3; }
  .header-cart {
    order: 5; } }
