#sesion section {
    padding: .7rem .8rem;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    width: 396px;
    max-width: 95vw;
    margin: 1rem auto;
}  

.none,label {
    display: none;
    padding: 0;
}

#header {
    box-shadow:0 3px 15px rgba(0, 0, 0, 0.1);
}



.menu-toggle {
    font-size: .85rem;
    display: flex;
    height: 100%;
    border: 0;
    background-color: #fff;
    flex: 1 1;
    .bar-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height:20px;
        padding-right: .2rem;
    }
    .bar-text {
        margin-left: .5rem;
        font-size: .75rem;
        text-transform: uppercase;
    }
    &.menu-cart {
        text-align: end;
        display: inline-block;
    }
}

.principal-header { 
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1.5rem;
    justify-content: space-between;

    .header-titulo {
        font-size: 1.25rem;
        flex: 2 2;
        text-align: center;
    }
    .header-search {
        flex: 1;
        margin-left: 3rem;
    }
    .header-list {
        padding-left: 1.2rem;
        li {
            display: inline-block;
        }
        a {
            display: inline-block;
            padding: .7em .875em 0;
            font-size: 17px;
            position: relative;
            div {
                position: absolute;
                top: 0;
                left: 50%;
                top: 5px;
                transform: translate(-50%);
            }
        }
    }
    .header-search,.header-list {
        display: none;
    }
}




.dark-window {
    visibility: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000a;
    z-index: 800;
    opacity: 0;
    transition: all .3s;
}

.dark-window-cancel {
    visibility: hidden;
    position: fixed;
    z-index: 900;
    top: 40px;
    left: 290px;
    opacity: 0;
    transition: all .3s;
}

.mobile-toggle {
    .dark-window {
        visibility: visible;
        opacity: 1;
        transition: all .3s;
    }
    .dark-window-cancel {
        visibility: visible;
        width: 30px;
        height: 30px;
        top: 20px;
        opacity: 1;
        transition: all .3s;
        cursor: pointer;
        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
        &::after,&::before {
            display: block;
            position: absolute;
            width: 2px;
            height: 30px;
            margin-left: 20px;
            margin-top: 5px;
            background-color: #fff;
            content: "";
        }
    }
    .toggle-header {
        left: 0;
    }
}

.toggle-header {
    position: fixed;
    z-index: 1000;
    padding: 0 15px;
    top: 0;
    bottom: 0;
    height: 100%;
    left: -260px;
    width: 260px;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    transition: all .35s;
    transition-delay: .1s;
}