#sesion section {
    padding: .7rem .8rem;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    // box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding: 20px 25px;
    width: 396px;
    max-width: 95vw;
    margin: 1rem auto;
}  

.none,label {
    display: none;
    padding: 0;
}

#header {
    box-shadow:0 3px 15px rgba(0, 0, 0, 0.1);
}

.toggle-header {
    display: none;
  }
  
  .principal-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1.5rem;
    justify-content: space-between;
  }
  
  .menu-toggle {
    /* position: relative; */
    font-size: .85rem;
    display: flex;
    height: 100%;
    border: 0;
    background-color: #fff;
    // align-items: flex-end;
    flex: 1 1;
    .bar-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height:20px;
        padding-right: .2rem;
    }
    .bar-text {
        margin-left: .5rem;
        font-size: .75rem;
        text-transform: uppercase;
    }
    &.menu-cart {
        text-align: end;
        display: inline-block;
    }
}
.menu-toggle .bar {
    width: 22px;
    height: 2px;
    opacity: 1;
    background-color: #222;
}

.principal-header .header-titulo {
    font-size: 1.25rem;
    flex: 2 2;
    text-align: center;
}

.principal-header .header-search {
    flex: 1;
    margin-left: 3rem;
}

.header-search,.header-list {
    display: none;
}
.principal-header .header-list {
    padding-left: 1.2rem;
}

  .principal-header .header-list li {
      display: inline-block;
  }
  
  
  .header-list a div {
      position: absolute;
      top: 0;
      left: 50%;
      top: 5px;
      transform: translate(-50%);
  }
  .header-list a {
      display: inline-block;
      padding: .7em .875em 0;
      font-size: 17px;
      position: relative;
  }
  
  #dark-window {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #0003;
    visibility: hidden;
  }
  
  .mobile-toggle #dark-window {
    visibility: visible;
  }
  